@import url('https://fonts.googleapis.com/css2?family=Montaserrat+Alternates:wght@300&display=swap');

:root{

  --bg-color:#131722;
  --light-bg-color:#24baef;
  --bg-transparent:rgba(36,186,239,.6);
  --font-color:#fff;
  --border-color: #a8a8a83d;
  --border-hight: 1px;
  --second-font-color:#949cb0;
  --main-font:'Montaserrate Alternates' , sans-serif,;

}
body{
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--font-color);
}
a{
  text-decoration: none;
  color: var(--font-color);

}